<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!--====================================Appenders==========================================-->
    <!--============Linux: /u01/Middleware/home/domains/LINKSHORTENER/logs ================-->

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p]  [%-25.25t] [%-25.25c{1}:%-4L] [%-25.25M] -> %m%n"/>
        </layout>
    </appender>

    <appender name="MainLogAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/root/root.log"/>
        <param name="MaxFileSize" value="50000KB"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-25.25M] -> %m%n"/>
            <!--<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%-5p] [%-32t] [%-20.20c{1}] [%-23.23M] - %m%n"/>-->
        </layout>
    </appender>

    <appender name="threadDetails" class="org.apache.log4j.RollingFileAppender">
        <!--<param name="file" value="d:/logs/openbank/hw/threadDetails.log"/>-->
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/hw/threadDetails.log"/>
        <param name="MaxFileSize" value="50000KB"/>
        <param name="MaxBackupIndex" value="60"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-20.20c{1}:%-4L] [%-23.23M] -> %m%n"/>
            <!--value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-23.23M] -> %m%n"/>-->

        </layout>
    </appender>

    <appender name="basicAuth" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/filters/basicAuth/basicAuth.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n"/>-->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-25.25M] -> %m%n"/>
        </layout>
    </appender>

    <appender name="serviceTiming" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/timing/serviceTiming.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n"/>-->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-23.23M] -> %m%n"/>
        </layout>
    </appender>

    <appender name="dbTiming" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/timing/dbTiming.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n"/>-->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-23.23M] -> %m%n"/>
        </layout>
    </appender>

    <appender name="dailyRollingAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/timing/dailylog.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-a"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="requests" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/filters/requests.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-23.23M] -> %m%n"/>
        </layout>
    </appender>

    <appender name="critical" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/critical/critical.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-25.25c{1}:%-4L] [%-23.23M] -> %m%n"/>
        </layout>
    </appender>

    <appender name="timeFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/timing/statistics.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="CoalescingStatistics" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="60000"/>
        <param name="QueueSize" value="200000"/>
        <param name="encoding" value="UTF-8"/>
        <appender-ref ref="timeFileAppender"/>
    </appender>

    <appender name="stackTrace" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/u01/Middleware/home/domains/LINKSHORTENER/logs/stackTrace/stackTrace.log"/>
        <param name="MaxFileSize" value="25000KB"/>
        <param name="MaxBackupIndex" value="40"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%-70.70t] [%-25.25c{1}:%-4L] [%-25.25M] -> %m%n"/>
        </layout>
    </appender>

    <!--====================================loggers============================================-->

    <logger name="basicAuth" additivity="false">
        <level value="info"/>
        <appender-ref ref="basicAuth"/>
    </logger>

    <logger name="threadDetails" additivity="false">
        <level value="info"/>
        <appender-ref ref="threadDetails"/>
    </logger>

    <logger name="stackTrace" additivity="false">
        <!--<level value="info"/>-->
        <appender-ref ref="stackTrace"/>

    </logger>

    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>

    <logger name="dailyRollingAppender">
        <level value="info"/>
        <appender-ref ref="dailyRollingAppender"/>
    </logger>

    <logger name="critical" additivity="false">
        <level value="info"/>
        <appender-ref ref="critical"/>
    </logger>

    <logger name="dbTiming" additivity="false">
        <level value="info"/>
        <appender-ref ref="dbTiming"/>
    </logger>

    <logger name="serviceTiming" additivity="false">
        <level value="info"/>
        <appender-ref ref="serviceTiming"/>
    </logger>

    <logger name="requests" additivity="false">
        <level value="info"/>
        <appender-ref ref="requests"/>
    </logger>

    <!--====================================Root============================================-->

    <root>
        <level value="INFO"/>
        <appender-ref ref="MainLogAppender"/>
    </root>

</log4j:configuration>